.a4w-radio input[type="radio"] {
    height: 15px;
    margin-left: 15px !important;
    -webkit-appearance: radio !important;
}

.a4w-radio input[type="text"] {
    display: inline-block;
    vertical-align: top;
}