/* #A4W Admin Form
================================================== */

.a4w-admin-form {
    margin-left: 5px;
    padding-left: 10px;
    border-width: 0px 0px 0px 1px;
    border-color: #488d5c;
    border-style: solid;
}
.a4w-admin-form-text-long,
.a4w-admin-form-select-long,
.a4w-admin-form-range-long,
.a4w-admin-form-textarea {
    width: 25em;
}
.a4w-admin-form-text-short,
.a4w-admin-form-range-short,
.a4w-admin-form-select-short {
    width: 10em;
}
.a4w-admin-form-textarea {
    height: 3em;
}
.a4w-admin-form-currency:before {
    content: '$';
}
.a4w-admin-form input[type="text"],
.a4w-admin-form input[type="password"],
.a4w-admin-form textarea,
.a4w-admin-form select {
    color: #404040;
}

.a4w-admin-form input[type="range"] {
    display: block;
    background-color: #488d5c;
    height: 5px;
    border-radius: 3px;
    margin: 10px 0px;
}

.a4w-admin-form-range-display {
    margin: 0px 0px 15px 20px;
}

.a4w-admin-form-response {
    border: 2px solid #488d5c;
    border-radius: 3px;
    background-color: #f2f2f2;
    padding: 5px;
}

#a4w-fundraising-results-table {
    width: calc(100% - 100px);
}
#a4w-fundraising-results-table td {
    text-align: right;
}

.a4w-admin-message {
    display: none;
    background-color: #fee6ef;
    border: 1px solid red;
    margin: 5px 5px 20px 5px;
    padding: 5px;
}

.a4w-admin-message p {
    margin: 0px;
}

#a4w-admin-participant-sponsor-box {
    display: none;
}

#a4w-admin-assignment-general {
    display: block;
}

.a4w-admin-subform {
    padding: 0px 5px;
}

.accordion-title {
    cursor: pointer;
    background-color: #F5FFF9;
}

.accordion-title::after {
    content: "▼";
    color: #488D60;
}

.accordion-title.open::after {
    content: "▲";
    color: #488D60;
}

.accordion-content {
    margin-left: 5px;
    padding-left: 10px;
    border-left: 1px solid #488D60;
}
