@charset "utf-8";
/*
Theme Name: Climb for Wilderness
Theme URI: http://climbforwilderness.ca
Author: Kevin Brennan
Author URI: http://buildstudio.ca
Description: The Climb and Run for Wilderness is a premiere community event celebrating Earth Day.
Version: 1.0
/*


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Main Navigation
	#Site Styles
	#Media Queries
	#Font-Face
	#Wordpress Core
	#Misc */


/* #Basic Styles
================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	background: #d6d8e9;
	background-image: url(images/bg-bottom.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom center;
	font: 16px/24px "Merriweather", Times, serif;
	color: #333333;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
 }
 input {
    -webkit-appearance: none;
    border-radius: 0;
}


/* #Typography
================================================== */

h1, h2, h3, h4, h5, h6 {
	color: #181818;
	font-family: "Oswald", Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; text-decoration: none; }
h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px; font-weight: 900; text-transform: uppercase;}
h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; color: #488d5c; }
h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }
.subheader { color: #777; }

p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }

em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }

/*	Blockquotes  */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; height: 0; }


/* #Links
================================================== */

a, a:visited { color: #488d5c; text-decoration: underline; outline: 0; }
a:hover, a:focus { color: #000; }
p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */



/* #Images
================================================== */

img {
	max-width: 100%;
	height: auto;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* #Buttons
================================================== */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background: #488d5c; /* Old browsers */
	border: 1px solid #aaa;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 20px;
	line-height: normal;
	padding: 5px 10px;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	color: #f1f1f1;
	background: #333; 
}
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	border: 1px solid #666;
	background: #ccc; /* Old browsers */
}
.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}
/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* #Forms
================================================== */

form {
	margin-bottom: 20px; }
fieldset {
	margin-bottom: 20px; }
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,
select {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #777;
	margin: 0;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff;
}
select {
padding: 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
textarea:focus {
	border: 1px solid #aaa;
 	color: #444;
 	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2);
}
textarea {
	min-height: 60px;
}
label,
legend {
	display: block;
	font-weight: bold;
	font-size: 13px;
}
select {
	width: 220px;
}
input[type="checkbox"] {
	display: inline;
	-webkit-appearance: checkbox;
}
label span,
legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444;
}

form.vr-signup-form div.vr-submit div.vr-notice.vr-notice-success {
    color: green;
    padding: 10px 0 20px 0;
    text-align: center;
    width: 100%;
}

/* #Tables
================================================== */

table {
	font-size: 14px;
	margin-bottom: 20px;
}
th {
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	background: #488d5c;
}
td {
	padding: 10px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table-sub {
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	background: #006f45;	
}
.page-content table { line-height: normal !important; }

/* #Tabs
================================================== */


.tabs {
    width:100%;
    display:inline-block;
    text-transform: capitalize;
}
.tab-links:after {
	display:block;
	clear:both;
	content:'';
}
.tab-links li {
	float:left;
	list-style:none;
	width: 50%;
	
}
.tab-links a {
	padding: 10px 20px;
	display:block;
	background:#005b96;
	font-family: "Oswald", Helvetica, sans-serif;
	font-size:16px;
	font-weight:700;
	color:#fff;
	transition:all linear 0.15s;
	text-decoration: none;
	text-transform: uppercase;
}
.tab-links a:hover {
	background:#488d5c;
	text-decoration:none;
}
li.active a, li.active a:hover {
	background:#fff;
	color:#005b96;
}
.tab-content {
	padding:20px;
}
.tab {
	display:none;
}
.tab.active {
	display:block;
}


/* #Main Navigation
================================================== */

#navigation {
	border: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	background: #fff;
	font-family: "Oswald", Helvetica, sans-serif;
}
#navigation ul {
	height: 60px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#navigation li {
  list-style: none;
  display: inline-block;
}
#navigation li a {
  display: block;
  font-weight: normal;
  line-height: 60px;
  margin: 0px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}
#navigation > ul > li > a {
  color: #333;
}
#navigation ul ul a {
  color: #000000;
}
#navigation li > a:hover,
#navigation ul li:hover > a {
  color: #ffffff;
  background-color: #488d5c;
  text-decoration: none;
}
#navigation li ul {
  background: #444444;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
  /*top:1em;
	/*left:0;*/
}
#navigation li:hover ul {
  display: block;
}
#navigation li li {
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 225px;
}
#navigation li:hover li a {
  background: none;
}
#navigation li ul a {
  display: block;
  height: 55px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  color: #ffffff;
}
#navigation li ul a:hover,
#navigation li ul li:hover > a {
  border: 0px;
  text-decoration: none;
  color: #c1c1c1;
  background-color: #333333;
}
#navigation li:hover ul{display:block}/* show first level*/
#navigation li:hover ul ul{display:none}/* hide nested level*/
#navigation li:hover ul ul{ }
#navigation li li:hover ul{/* show second nested level*/
display:block;
left: 100%;
margin-top: -55px;
}
/* make hopver persistent on chosen item */
#navigation li:hover > a,
#navigation li li:hover > a{ }
#navigation p {
  clear: left;
}
.sub-menu { z-index: 99999999; }


/* #Sub Navigation
================================================== */

.sub-nav {
	margin-bottom: 33px;	
}
.sub-nav h3 { display: none; }
.sub-nav li {
	list-style: none;
	width: 100%;
	margin-bottom: 2px
}
.sub-nav a {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;	
	color: #ffffff;
	padding: 10px 20px;
	width: 100%;
	background: #333;
	display: block;
}
.sub-nav a:hover {
	background: #488d5c;	
}
.current_page_parent a,
.current_page_item a {
  color: #ffffff;
  background-color: #488d5c;
}

/* #Site Styles
================================================== */

.banner-video { 
	overflow: hidden;
	position: relative;
}
.banner-video video { position: absolute; width: auto; height: 100%; }

img.video-title { position: relative; }

.row {
	margin-top: 30px;
}
#logo {
	padding: 0;
	text-align: center;
	font-size: 10px;
}
#logo img {
	max-width: 250px;
}
#event-date {
	padding: 10px 0;
	font-family: "Oswald", Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 700; 
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#event-date .date { font-size: 27px; }
.location {
	font-size: 40px;
	line-height: 60px;
}
.top-buttons a {
	width: 100%;
	padding: 15px 20px 13px 20px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 24px;
}
.reg-coming {
	padding: 30px 0;

}
#link-register {
	background: #488d5c;
	margin-bottom: 20px;
}
#link-register:hover {
	background: #005b96;
}
#link-donate {
	background: #006f45;
}
#link-donate:hover {
	background: #0a573a;
}
.page-content {
	background: #ffffff;
	padding: 40px;
}
.page-content h3 {
	margin: 30px 0 10px 0;
}
.page-content h4 {
	margin: 30px 0 10px 0;
}
.page-content ul {
	margin: 0 0 20px 40px;
}
.page-content ol {
	margin: 0 0 20px 40px;
}
#banner {
	margin-bottom: 30px;
}
#news-stories {
	color: #fff;
}
.story-one {
	width: 48%;
	margin-right: 4%;
	float: left;
	background: #488d5c;
}
.story-two {
	width: 48%;
	float: left;
	background: #006f45;
}
.story-one .story-link {
	color: #0a573a;
	background: #006f45;
	background-image: url(images/arrow-green.png);
	background-repeat: no-repeat;
	background-position-x: right;
}
.story-two .story-link {
	color: #005b96;
	background: #488d5c;
	background-image: url(images/arrow-blue.png);
	background-repeat: no-repeat;
	background-position-x: right;
}
.story-one .story-link a:hover {
	color: #0a573a;
}
.story-two .story-link a:hover {
	color: #005b96;
}
.story-text {
	padding: 20px;
	font-size: 12px;
}
.story-text h3 {
	color: #fff;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.story-text p {
	margin-bottom: 0;	
}
.story-link {
	font-family: "Oswald", Helvetica, sans-serif;
	font-size: 26px;
	line-height: 60px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 0 20px
}
.story-link a {
	color: #fff;
	text-decoration: none;
}
.read-more-news {
	clear: both;
	display: block;
	padding: 40px 0;
}
.read-more-news a {
	color: #000;
	font-family: "Oswald", Helvetica, sans-serif;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	text-shadow: 2px 2px #e0e7fa;
}
.read-more-news a:hover {
	color: #333;
}
.sponsors {
	margin: 40px 0 140px 0;
}
.sponsors h2 {
	color: #488d5c;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 36px;
	text-shadow: 2px 2px #e0e7fa;
	margin-bottom: 20px;
}
.sponsor-logos img {
	max-height: 60px;
	max-width: 150px;
	width: auto;
}

.sponsor-logos {
	background: #fff;
	padding: 20px 20px 0 20px;
	display: block;
	margin-bottom: 0;
	text-align: center;
}
.sponsor-logos a {
	margin: 0px 30px 20px 30px;
	display: inline-block;	
}
.supporter-logo {
	
}
.major-sponsor {
	max-width: 250px;
	margin: 20px 0;
}
.event-logos {
	background: #f5f5f5;
	padding: 20px;
	display: block;
	text-align: center;
}
.event-logos a {
	margin: 0px;
	display: inline-block;	
}
.footer-nav {
}
.footer-nav a {
	color: #fff;
	text-decoration: none;
	text-shadow: 0 0 2px #000000;
}
.footer-nav a:hover {
	color: #488d5c;
}
.footer-nav ul {

}
.footer-nav li {
	list-style: none;
	font-family: "Oswald", Helvetica, sans-serif;
	text-transform: uppercase;
	float: left;
	width: 18%;
	margin: 0 1%;
	
}
.footer-nav li li {
	font-family: "Merriweather", Times, serif;
	text-transform: none;
	font-size: 10px;
	font-weight: bold;
	line-height: 16px;
	float: none;
	display: block;
	width: 100%;
}

/* #Sidebar
================================================== */

#login h4 {
	color: red;
}

#important-dates {
	background: #fff;
	padding: 20px;
	margin-bottom: 40px;
}
#important-dates h4 {
	letter-spacing: 1px;
}
#important-dates p {
	font-family: "Oswald", Helvetica, serif;
	font-size: 13px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.blue-text {
	color: #488d5c;
}
.green-text {
	color: #006f45;
}
.right-text {
	float: right;
}
#top-ten {
	background: #fff;
	font-size: 12px;
	margin-bottom: 40px;
	padding: 20px;
}
#top-ten ol {
	margin-left: 20px;
}
#top-ten ol li { list-style: decimal; }
#newsletter {

}
#newsletter input {
	width: 100%;
	height: 35px;
	text-align: center;
	font-size: 16px;
	font-family: 'Merriweather', serif;
	padding: 10px 0;
	margin-bottom: 10px;
	border: 0px;
} 
#newsletter h4 {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
#newsletter input[type="submit"]:hover {
	background: #333;
}
#captchaPreview img {
	float: left;	
}
.captcha-guess {
	float: right;
	width: 40%;
	height: 30px;
}
#facebook {
	background: #fff;
	margin-bottom: 40px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-bottom: 10px;
}
.fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] {
	width: 100% !important;
}
#twitter {
	background: #fff;
	margin: 40px 0;
}


/* #Copyright
================================================== */

.bottom-links {
	color: #fff;
	margin-bottom: 20px;
}
.bottom-links a {
	color: #fff;
	text-decoration: none;
}
.bottom-links a:hover {
	color: #488d5c;
}
.copyright {
	color: #fff;
}
#build-studio {
	text-align: right;	
}



/* #Media Queries
================================================== */

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 960px) and (max-width: 1170px) {

#navigation {
	font-size: 18px;
}
#navigation ul {
	height: 50px;
}
#navigation li a {
  line-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
	
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

#navigation {
	font-size: 16px;
}
#navigation ul {
	height: 50px;
}
#navigation li a {
  line-height: 50px;
  padding-left: 8px;
  padding-right: 8px;
}
#event-date {
	font-size: 18px;
}
.location {
	font-size: 30px;
	line-height: 40px;
}
.story-one {
	width: 100%;
	margin-right: 0;
	margin-bottom: 20px;
}
.story-two {
	width: 100%;
}


}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

#logo { margin-top: 30px; width: 50%; float: left; padding: 0 20px; }
#event-date { margin: 20px 0; width: 50%; float: left; }
#event-date {
	padding: 10px 0;
	font-family: "Oswald", Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700; 
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.location {
	font-size: 28px;
	line-height: 40px;
}
.top-buttons { clear: both; }
.spacer { display: none; }
#navigation {
	display: none;	
}
.story-one {
	width: 100%;
	margin-right: 0;
	margin-bottom: 20px;
}
.story-two {
	width: 100%;
}
.sponsors { margin: 40px 0 40px 0; }
.sponsor-logos a { margin: 0 10px 20px 10px; }
.footer-nav { display: none; }
#copyright { text-align: center; }
#build-studio { text-align: center; }
.page-content table { margin: 0 -40px; line-height: normal !important; }

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

#logo { margin-top: 30px; padding: 0 30px; }
#event-date { margin: 20px 0; }
.spacer { display: none; }
#navigation {
	display: none;	
}
.story-one {
	width: 100%;
	margin-right: 0;
	margin-bottom: 20px;
}
.story-two {
	width: 100%;
}
.story-link {
	font-size: 17px;
}
.sponsors { margin: 40px 0 40px 0; }
.sponsor-logos a { margin: 0 10px 20px 10px; }
.major-sponsor {
	max-width: 240px;
}
.footer-nav { display: none; }
#copyright { text-align: center; }
#build-studio { text-align: center; }
.page-content table { margin: 0 -40px; line-height: normal !important; }

pre { font-size: 9px; margin: 0 -20px; }

}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

@font-face {
	    font-family: 'Oswald';
	    src: url('http://climbforwilderness.ca/fonts/Oswald.eot');
	    src: url('http://climbforwilderness.ca/fonts/Oswald.eot?iefix') format('eot'),
	         url('http://climbforwilderness.ca/fonts/Oswald.woff') format('woff'),
	         url('http://climbforwilderness.ca/fonts/Oswald.ttf') format('truetype'),
	         url('http://climbforwilderness.ca/fonts/Oswald.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }


/* #Wordpress Core
================================================== */

/* AUTHORS */

.gravatar {
	float: left;
	margin: 0 10px 0 0;
	display: block;
}
#author-description {
	display: block;
}

/* OLD & NEW POSTS */

.newer-older {
	clear: both;
}
.older {
	float: left;
}
.newer {
	float: right;
}


/* IMAGE ALIGNMENT */

.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
.aligncenter {
	display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* IMAGE CAPTIONS */

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
p.wp-caption-text {
    font-size: 10px;
    line-height: 14px;
    margin: 0;
    padding: 0 4px 5px;
}


/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
