/* #Event/Post Edit Pages
================================================== */

.adv_param_editor .acf-input .mce-edit-area iframe,
.adv_param_editor .acf-input textarea.wp-editor-area {
    height: 150px !important;
    min-height: 150px !important;
}

.acf-postbox .acf-accordion-title {
    background-color: #4da3cf;
    color: white;
}

.acf-accordion .acf-accordion-title:hover {
    background: #007cba !important;
}

.adv_text_editor_50pct .acf-input .acf-input-wrap input {
    width: 50%;
}

.adv_text_editor_25pct .acf-input .acf-input-wrap input {
    width: 25%;
}