/*
* Build Base Theme
* Copyright 2014, Build Studio Inc.
* www.buildstudio.ca
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/23/14
*/


/* Table of Contents
==================================================
    #CSS Reset
    #Fluid Grid
    #Mobile (Portrait)


/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/* Based on the 12 column 1140px Grid by Andy Taylor – http://cssgrid.net – http://www.twitter.com/andytlr – http://www.catchingzebra.com */

.container {
	padding-left: 10px;
	padding-right: 10px;
}

.row {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol, .thirteencol, .fourteencol, .fifteencol {
	margin-right: 2.4%;
	float: left;
}

.onecol			{ width: 4%; 	}
.twocol 		{ width: 10.4%; }
.threecol 		{ width: 16.8%; }
.fourcol 		{ width: 23.2%; }
.fivecol 		{ width: 29.6%; }
.sixcol 		{ width: 36%;	}
.sevencol 		{ width: 42.4%; }
.eightcol 		{ width: 48.8%; }
.ninecol 		{ width: 55.2%; }
.tencol 		{ width: 61.6%; }
.elevencol 		{ width: 68%;	}
.twelvecol 		{ width: 74.4%;	}
.thirteencol 	{ width: 80.8%; }
.fourteencol 	{ width: 87.2%; }
.fifteencol 	{ width: 93.6%; }
.sixteencol 	{ width: 100%; float: left; }

.thirdcol		{ width: 31%; margin-right: 3.5%; float: left; }

.last { margin-right: 0px; }

img, object, embed { max-width: 100%; }


/*  #Mobile (Portrait)
================================================== */

@media only screen and (max-width: 767px) {

.row, .body, .container {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol, .thirteencol, .fourteencol, .fifteencol, .sixteencol, .thirdcol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

}