.a4w-adv-header {
    margin: 10px 0px 15px 0px;
    display: inline-block;
}

.a4w-adv-header-summary {
    float: left;
    max-width: 232px;
    margin: 0px 10px 0px 0px;
    padding: 4px;
    border: 2px solid #2e633d;
    border-radius: 4px;
}

.a4w-adv-header-summary input[type="button"] {
    margin-bottom: 10px !important;
}

.a4w-adv-head-min-donation, .a4w-adv-head-fully-booked {
    font-size: smaller;
    padding-left: 20px;
    text-indent: -20px;
}

.a4w-adv-head-min-donation {
    margin-top: -20px;
}

.a4w-adv-head-min-donation p {
    margin: 0 !important;
}

.a4w-adv-head-metrics {
    border: 1px dashed #2e633d;
    border-radius: 4px;
    margin-top: 20px;
    padding-left: 4px;
    font-size: smaller;
}

.a4w-adv-head-metric-label {
    display: inline-block;
    width: 16ex;
    font-weight: bold;
}

.a4w-adv-header-map {
    float: right;
    margin: 0px;
}

.a4w-adv-header-map .em-osm-container,
.a4w-adv-header-map .em-osm-container .em-osm-map {
    border-radius: 4px;
}
