.a4w-adv-header {
    margin: 10px 0px 15px 0px;
    display: inline-block;
}

.a4w-adv-header-summary {
    float: left;
    max-width: 232px;
    margin: 0px 10px 0px 0px;
    padding: 4px;
    border: 2px solid #2e633d;
    border-radius: 4px;
}

.a4w-adv-header-summary input[type="button"] {
    margin-bottom: 10px !important;
}

.a4w-adv-head-min-donation, .a4w-adv-head-fully-booked {
    font-size: smaller;
    padding-left: 20px;
    text-indent: -20px;
}

.a4w-adv-head-min-donation {
    margin-top: -20px;
}

.a4w-adv-head-min-donation p {
    margin: 0 !important;
}

.a4w-adv-head-metrics {
    border: 1px dashed #2e633d;
    border-radius: 4px;
    margin-top: 20px;
    padding-left: 4px;
    font-size: smaller;
}

.a4w-adv-head-metric-label {
    display: inline-block;
    width: 117px;
    font-weight: bold;
	vertical-align: top;
}

.a4w-adv-head-metric-value {
	display: inline-block;
	max-width: calc(100% - 123px);
	font-size: 12.5px;
	line-height: 17px;
	padding: 2px 0px;
}

.a4w-adv-header-map {
    float: right;
    margin: 0px;
}

.a4w-adv-header-map .em-osm-container,
.a4w-adv-header-map .em-osm-container .em-osm-map {
    border-radius: 4px;
}

#a4w_top_fundraisers {
    display: inline-block;
    max-width: 600px;
    min-width: 300px;
    padding: 6px;
    border: 1px solid #2e633d;
    border-radius: 4px;
    margin: 10px 0 0 40px;
}

#a4w_top_fundraisers ol,
#a4w_top_fundraisers ul {
    margin: 0 0 0 20px;
}

#a4w_top_fundraisers li {
    width: 100%;
    margin-bottom: 2px;
    padding-left: 5px;
}

#a4w_top_fundraisers li:nth-child(2n) {
    background-color: #f2f2f2;
}

#a4w_top_fundraisers div.sidebar_spons_name,
#a4w_top_fundraisers div.sidebar_spons_extra {
    height: 1.2em;
    vertical-align: top;
    display: inline-block;
    line-height: 14pt;
    white-space: nowrap;
    padding-top: 3px;
}

#a4w_top_fundraisers div.sidebar_spons_name {
    width: 60%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 3px 2px 0px;
}

#a4w_top_fundraisers div.sidebar_spons_extra {
    width: 30%;
    text-align: right;
    margin-bottom: 1px;
}
